@charset "ISO-8859-1";

* {
	color: #ccc;
	font-family: Verdana;
	table
}

.bold {
	font-weight: bold;
}

.red {
	color: red;
}

body {
	text-align: center;
}

table td { padding: 3px; vertical-align: top; }

ul {
	list-style-type:none;
	text-align: left;
	padding:10px;
}

input, button, option, textarea {
	color: #000;
}

.planetResOv td {
	padding: 0px 33px;
}

.error {
	color: red;
	font-size: 33px;
}

.headnav a {
	font-size:22px;
	padding: 11px;
}

.main {
	background-color: #333;
	margin: 33px auto;
	width:92%;
	text-align: center;
}

.main .middle, .main table {
	margin: 0 auto;
}

.main .defend td {
	background-color: #a00;
}

.main .attack td {
	background-color: green;
}

.center {

	text-align: center;

}


.intinput {
	width:55px;
}

a {
	text-decoration: none;
	color: #8fa;
}

a:hover {
	color: orange;
	text-decoration: none;
}
